---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about" sideBarActiveItemID="about">
   <div class="mb-5">
        <div class="text-3xl w-full font-bold">About</div>
    </div>
  
    <div class="mb-10 text-justify">
        I enjoy bridging the gap between ideas and implementation, designing and building geospatial systems, automation solutions, and digital products that deliver measurable outcomes. 
    </div>
  
  
    <div class="mb-10 text-justify">
        I like maps, hiking, travel, upcycling, fixing things, always curious.
    </div>
  </div>
</BaseLayout>