---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="AmIBetterOff.au"
    img="/amibetteroff/amibetteroff_3.webp"
    desc="Permanent vs Contract salary calculator [HTML/CSS/JavaScript/Cloudflare Workers]"
    url="https://amibetteroff.au"
    badge="HOT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="News-Reach"
    img="/news-reach/news_reach2.webp"
    desc="A web application that transforms global news feeds into an interactive map, allowing users to explore where events are happening around the world. [Python, React, Leaflet, GDELT]"
    url="https://github.com/BriceNairn/news-reach"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="From ArcGIS Model Builder to ArcPy Automation"
    img="/code.webp"
    desc="Reduced a multi-month assessment workflow to under one hour through geospatial automation."
    url="/blog/from-arcgis-model-builder-to-python-automation/"
    badge=""
  />
  <div class="divider my-0"></div>
</BaseLayout>
