---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    <span>
        &copy; {today.getFullYear()} <a href="https://github.com/BriceNairn" target="_blank" class="font-bold">Brice Nairn</a>
    </span>
  </div>

</footer>
<style></style>
